<!DOCTYPE html>
<html>
<head>
  <title>ChatGPT Clone</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
</head>
<body>
<% if flash[:notice] %>
  <p style="color: green;"><%= flash[:notice] %></p>
<% end %>

<% if session[:authenticated] %>
  <p style="text-align:right;">
    <%= link_to "Logout", logout_path, data: { turbo: false } %>
  </p>
  <%= yield %>
<% else %>
  <%= form_with url: '/login', method: :post do |f| %>
    <p>Password: <%= f.password_field :password %></p>
    <%= f.submit 'Login' %>
  <% end %>
<% end %>
</body>
</html>